#Funtion

In [ ]:
def fun():
  print("Welcome")
fun()

Welcome

#operators

In [ ]:
#Arithmetic operators
a=17
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

22
12
85
3.4
3
2
1419857

#comparison operators

In [ ]:
a=7
b=5
print(a>b)
print(a<b)
print(a>=b)
print(a!=b)
print(a==b)

True
False
True
True
False

#logical Operators

In [ ]:
a=True
b=False
print(a and b)
print(a or b)
print( not b)

False
True
True

#Bitwise operators

In [ ]:
a=5
b=2
print(a&b)
print(a/b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

0
2.5
-6
7
1
20

#Assignment operators

In [ ]:
a=10
b=2
print(a+b)
print(a==b)
print(a!=b)
print(a>=b)
print(b<=a)

12
False
True
True
True

#identify operators

In [ ]:
a=10
b=5
c=a
print( c is a)
print(a is not b)

True
True

In [ ]:
#ternary operators

In [ ]:
min = a if a<b else b
print(min)

5

#membership platform

In [ ]:
x=24
y=20
list1 = [10,20,30,40,50]
if x not in list1:
  print("x not in list")
if y in list1:
  print("y is in list")

x not in list
y is in list

#question output

In [ ]:
print(100/10*10)
print(5-2+3)
print(5-(2+3))

100.0
6
0

#unit 1 code

In [ ]:
#introduction python programming

In [ ]:
#print hello world
print("hello world")
print("welcome to PDA")

hello world
welcome to PDA

In [40]:
#introduction
print("i have no indentation")
print("i have indentation")

i have no indentation
i have indentation

#Assignment passing

In [ ]:
def evenodd(x):
  if x%2==0:
    print("Even")

#keyword argument

In [ ]:
def person(name,age):
  print("Hi i am",name)
  print("Hi i am",age)
print("case 1")
person("Ram",12)
print("case 2")
person(25,"Ram")

case 1
Hi i am Ram
Hi i am 12
case 2
Hi i am 25
Hi i am Ram

#Funtion within funtion

In [ ]:
def f1():
    s="I love india"
    def f2():
       print(s)
    f2()
f1()

I love india

#getting type of variable

In [18]:
n1 = 55
n2 = 55.6
n3 = "hello"
n4 = [1,2,3]
n5 = {"a":1,"b":2,"c":3}
n6 = True
print(type(n1))
print(type(n2))
print(type(n3))
print(type(n4))
print(type(n5))
print(type(bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'type'>

#python data types

In [25]:
#numeric data type
a = 5
print(type(a))
b = 5.2
print(type(b))
c = 5+2j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
#python variables
x=55.7
s="Hello"
print(x)
print(s)

55.7
Hello

In [28]:
#type casting a variables
i=int(x)
s1=str(x)
print(i)
print(s1)

55
55.7

In [30]:
#python data types
# numeric data types
a=5
print(type(a))
b=5.2
print(type(b))
c= 5 + 2j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [32]:
#python data types
# numeric data types
a=5
print(type(a))
b=5.2
print(type(b))
c= 5 + 2j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [33]:
#list
a=[]
print(type(a))
b=[1,2,3]
print(b)
c=[1,2.3,"A","Mango"]
print(c)
print(b[0])
print(b[1])
print(c[-1])
print(c[-2])

<class 'list'>
[1, 2, 3]
[1, 2.3, 'A', 'Mango']
1
2
Mango
A

In [34]:
#sequence data types
s="Welcome to PDA"
print(type(s))
print(s)
print(s[1])
print(s[-1])

<class 'str'>
Welcome to PDA
e
A

In [35]:
#boo;ean
print(type(False))
print(type(True))
if 1:
    print("1 is true")
else:
    print("0 is false")

<class 'bool'>
<class 'bool'>
1 is true

In [36]:
#sets
s1=()
s2=("Beautiful day")
s3=set["A","B","C"]
print(type(s1))
print(s2)
for s in s3:
    print(s,end="")

<class 'tuple'>
Beautiful day
*set['A', 'B', 'C']

In [37]:
#dictionary
d1={}
d2={"a":1,"b":2,"c":3}
d3={1:"a",2:"b",3:"c"}
print(d2)
print(d3[1])

{'a': 1, 'b': 2, 'c': 3}
a

In [38]:
# type conversion
# implicit type conversion
x=10
y=10.8
z=x+y
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

In [39]:
#explicit
s="Hello World"
t=type(s)
u=list(s)
v=set(s)
print(type(s))
print(type(t))
print(type(u))
print(type(v))

<class 'str'>
<class 'type'>
<class 'list'>
<class 'set'>

In [ ]:
# explicit type conversion
a="52.6"
b=(a)
c=float(b)
print(type(a))
print(type(b))
print(type(c))